mixin menu(items)
	nav.menu.header__menu
		ul.menu__list
			each value,key in items
				li.menu__item
					a.menu__link(data-goto= `.${key}` href= "#")= value
					span

mixin title(cls,subtitle,title,text)
	.title(class= cls)
		h4.title__subtitle= subtitle
		h3.title__title= title
		if text
			.title__desc= text

mixin counters(content)
	each item in content
		.performance__item
			.performance__counter= item.count
			.performance__desc= item.desc

mixin cardsAbout(pics,icon,title)
	each pic in pics
		.about__card
			img.about__pic(src= pic)
			.about__bg
				.about__icon(class= icon)
				a.about__slogan(data-goto= ".team" href= "#")= title
				.about__icon_filler(class= icon)

mixin cardsService(items)
	each item in items
		.service__item
			.service__icon(class= "icon-"+item.icon)
			.service__column
				.service__slogan= item.title
				.service__desc= item.desc

mixin cardsTeam(content,icons)
	each item in content
		.team__card
			.team__pic
				img.team__img(src= item.pic)
				.team__bg
					.team__icons
						each icon in icons
							a.team__link(data-goto= ".contacts" href="#")
								img.team__icon(src= icon)
			.team__desc
				.team__name= item.name
				.team__position= item.position

mixin quotes(content)
	each item in content
		.swiper-slide
			.quotes__slide
				.quotes__pic
					img.quotes__img(class= "icon-thought")
				.quotes__col
					.quotes__quote= item.quote
					.quotes__author= item.author
