mixin menu(items)
	nav.menu.header__menu
		ul.menu__list
			each value,key in items
				li.menu__item
					a.menu__link(data-goto= `.${key}` href= "#")= value
					span

mixin title(cls,subtitle,title,text)
	.title(class= cls)
		h4.title__subtitle= subtitle
		h3.title__title= title
		if text
			.title__desc= text

mixin counters(content)
	each item in content
		.performance__item
			.performance__counter= item.count
			.performance__desc= item.desc

mixin cardsAbout(pics,icon,title)
	each pic in pics
		.about__card
			img.about__pic(src= pic)
			.about__bg
				.about__icon(class= icon)
				a.about__slogan(data-goto= ".team" href= "#")= title
				.about__icon_filler(class= icon)

mixin cardsService(items)
	each item in items
		.service__item
			.service__icon(class= "icon-"+item.icon)
			.service__column
				h5.subtitle.service__slogan= item.title
				.service__desc= item.desc

mixin cardsTeam(content,icons)
	each item in content
		.team__card
			.team__pic
				img.team__img(src= item.pic)
				.team__bg
					.team__icons
						each icon in icons
							a.team__link(data-goto= ".contacts" href="#")
								img.team__icon(src= icon)
			.team__desc
				h5.subtitle.team__name= item.name
				.team__position= item.position

mixin quotes(content,flag)
	each item in content
		.swiper-slide
			.quote__slide
				.quote__pic
					if flag
						img.quote__img.quote__img_visible(src= item.image)
					else
						img.quote__img(src= item.image)
				.quote__col
					.quote__quote= item.quote
					.quote__author= item.author

mixin gallery(count)
	-for (var i = 1; i <= count; i++)
		.work__pic
			img.work__img(src= `@img/work/work_${i}.png`)
			.work__bg
				.work__icon(class= "icon-trophy")
				a.work__subtitle(data-goto= ".design" href= "#")= "creatively design"
				.work__slogan= "Lorem ipsum dolor sit"

mixin reviews(items)
	each item in items
		.reviews__card
			.reviews__pic
				img.reviews__img(src= item.image)
			.reviews__row
				h5.subtitle.reviews__name= item.name
				.reviews__position= item.position
				.reviews__review Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis proin varius vitae leo eget tincidunt duis amet. Et amet dis vel imperdiet volutpat mauris est leo cursus.

mixin socials(items)
	each item in items
		a.footer__socnet(class= item href= "#")

mixin blogs(count)
	-for (var i = 1; i <= count; i++)
		.footer__card
			.footer__pic
				img.footer__img(src= `@img/footer/c_blog_${i}.png`)
			.footer__col
				.footer__topic Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				.footer__date jan.9.22.15

mixin instagram(count)
	-for (var i = 1; i <= count; i++)
		.footer__grid-item
			img.footer__grid-img(src= `@img/footer/c_instagram_${i}.png`)

mixin jobs(items)
	each item,key in items
		.job__item
			input.job__radio(id= `accordeon_${key + 1}` type= "radio" name= "job")
			label.job__label(class= item.icon for= `accordeon_${key + 1}`)= item.title
			.job__content= item.content
